@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import 'vue-select/dist/vue-select.css';

body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  font-style: normal;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#app {
  height: 100vh;
}

.form {
  @extend .base-border;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  height: 50%;
  width: 80%;
  padding: 20px;

  border: 0.5px solid rgba(183, 156, 156, 0.444);

  &__input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 10px;
      outline: none;

      border-radius: 20px;
      border: 1px solid #ebebeb;
      background: #fff;

      transition: 1s;
    }

    input:focus {
      border: 1px solid darkorchid;
    }
  }

  &__footer {
    display: flex;

    .loading {
      margin: auto;
      width: 80%;
    }

    .error {
      margin: auto;
      width: 80%;
      color: red;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.base-btn {
  height: 30px;
  width: fit-content;

  color: white;

  border-radius: 15px;
  border: 1px solid transparent;
  transition: 0.5s;

  &:hover {
    outline: 1px solid chocolate;
  }
}

.btn-create {
  @extend .base-btn;
  background: #fd633d;
}

.btn-submit {
  @extend .base-btn;
  background: #67cb65;
}

.base-border {
  border-radius: 10px;
  background: #f6f6f6;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-20 {
  font-size: 20px;
}

.w-6 {
  font-weight: 600;
}

.icon {
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    scale: 1.2;
  }
}
