body {
  margin: 0;
}

.form {
  @extend .base-border;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  height: 50%;
  width: 80%;
  padding: 20px;

  border: 0.5px solid rgba(183, 156, 156, 0.444);

  &__input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 10px;
      outline: none;

      border-radius: 20px;
      border: 1px solid #ebebeb;
      background: #fff;

      transition: 1s;
    }

    input:focus {
      border: 1px solid darkorchid;
    }
  }

  &__footer {
    display: flex;

    .loading {
      margin: auto;
      width: 80%;
    }

    .error {
      margin: auto;
      width: 80%;
      color: red;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.base-btn {
  height: 30px;
  width: fit-content;

  color: white;

  border-radius: 15px;
  border: 1px solid transparent;
  transition: 0.5s;

  &:hover {
    outline: 1px solid chocolate;
  }
}

.btn-create {
  @extend .base-btn;
  background: #fd633d;
}

.btn-submit {
  @extend .base-btn;
  background: #67cb65;
}

.base-border {
  border-radius: 10px;
  background: #f6f6f6;
}
